@import '../../core/scss/variable.scss';
.header {
	background-color: $main-purple;
	padding: 20px;
	color: $white;
	border: 1px solid #eceef5;
	box-sizing: border-box;
	border-radius: 10px;

	&__title {
		color: $white;
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 20px;
		line-height: 32px;
	}
	.highest {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 70px;

		&__content {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 10px;
		}
		&__img {
			display: flex;
			justify-content: end;
		}
	}
	.user {
		&__img {
			position: relative;
			span {
				position: absolute;
				left: 15%;
				bottom: 10%;
				display: block;
				background: #ffffff;
				border-radius: 5px;
				padding: 2px 8px;
				font-family: Gilroy;
				font-style: normal;
				font-weight: 600;
				font-size: 20px;
				line-height: 32px;
				color: $main-green;
			}
		}

		&__name {
			font-family: Lato;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 32px;
			color: $white;
		}
	}
}
